*.xcuserstate
*.DS_Store
Mini Twitter For iOS/.DS_Store
Mini Twitter For iOS.xcodeproj/project.xcworkspace/xcuserdata/udit.ag.xcuserdatad/UserInterfaceState.xcuserstate
Mini Twitter For iOS.xcodeproj/xcuserdata/udit.ag.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

